<h1>Places</h1>

<ul>
  <% for place in @places %>
    <p><a class="lead" href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
  <% end %>
</ul>

<% if @current_user%>
  <p>
    <a class="btn btn-dark" href="/places/new">New place</a>
  </p>


<% else%>
  <%flash["notice"] = "Please login."%>
<% end%>
